---
import PageLayout from "@/layouts/Base";
import SocialList from "@/components/SocialList";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p class="text-justify">
			My name is Diego Rodríguez Rodríguez and I am a software engineer
			specialized in Python and its ecosystem. I am fond of the DevOps
			culture and I enjoy infrastructure discussions, design and
			implementations.
		</p>
		<p>Here are some of the technologies I am familiar with:</p>
		<ul class="list-disc list-inside">
			<li>Flask</li>
			<li>SQlAlchemy</li>
			<li>...</li>
		</ul>
		<p>
			Does it sound cool? Do you want to colaborate? Building a trust
			relationship is my cup of tea, if so it is yours reach me out
		</p>
		<SocialList />
	</div>
</PageLayout>
