---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import profileImg from "../assets/diego.jpg";

const meta = {
	title: "diegodelemos",
	description: "My personal site.",
};
---

<PageLayout meta={meta}>
	<section>
		<div class="flex justify-center mb-10">
			<Image
				src={profileImg}
				alt="Diego."
				class="rounded-full w-16 md:w-32 lg:w-48"
			/>
		</div>
		<div>
			<p class="text-center mb-6 title">
				Hello <span aria-label="wave emoji">👋</span>
			</p>
			<p class="text-center mb-6 subtitle">
				This is Diego. I do software engineering
			</p>
			<p class="text-center mb-6">
				Python developer. <a
					href="https://en.wikipedia.org/wiki/Spanish_omelette"
					class="inline-block cactus-link">Tortilla</a
				> architect.
			</p>
		</div>
	</section>
</PageLayout>
