---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-white dark:bg-black">
		<Header title={SITE_TITLE} />
		<main>
			<img src="diego.jpg" alt="Avatar" />
			<p>Software Engineer.</p>
			<p>
				Here you can find out <a href="/about">about me</a> and <a
					href="blog">what I do</a
				>.
			</p>

			<Footer />
		</main>
	</body>
</html>
