---
import PageLayout from "@/layouts/Base";
import SocialList from "@/components/SocialList";
import { Image } from "@astrojs/image/components";
import profileImg from "../assets/diego.jpg";

const meta = {
	title: "Astro Cactus",
	description: "The perfect starter for your perfect blog.",
};
---

<PageLayout meta={meta}>
	<section>
		<div class="flex justify-center">
			<Image
				src={profileImg}
				alt="Diego."
				class="rounded-full hover:shadow-2xl"
			/>
		</div>
		<div>
			<h1 class="mb-6 title">Hello World!</h1>
			<p class="mb-4">
				Hi, I’m a theme for Astro, an example of how you can use this
				starter to create a personal blog. If you want to know more
				about how you can customise me, add more posts, and make it your
				own, click on one of the social links which will take you to my
				repo.
			</p>
			<SocialList />
		</div>
	</section>
</PageLayout>
